body {
    margin: 0% 2.5%;
    max-width: 100%;
    background-color: #ffffff;
    
}

html {
    background-color: #e6e9e9;
}


.{
    margin: 0px;
    padding: 0px;
}

div.content-slider {
    width: auto;
    height: 450px;
    background: #fff;
}

div.content-slider-header {
    width: 100%;
    height: 100%;
}

div.content-slider img{
    width: 100%;
    height: 100%;
    display: none;
}

div.content-slider img:nth-child(1){
    display: block;
}

div.content-slider-footer {
    width: 95%;
    height: auto;
    position: relative;
    bottom: 70px;
    padding-left: 5%;
    background: rgba(0,0,0,.6);
}

.content-slider-footer p{
    color: #fff;
    padding: 1%;
}

div.content-data {
    width: 95%;
    height: auto;
    margin: 2.5%;
    display: table;
    border-style: dotted;
    border-color: #000;
}

.content-data-header h2{
    margin: 2% 5%;
    border-bottom: 1px solid #000;
    margin-bottom: 0;
    border-color: #666;
    padding-bottom: 1%;
}

.content-data-body {
    margin: 0% 5%;
    height: auto;
    display: inline-block;
    width: 90%;
}

.data-body {
    width: 45%;
    height: auto;
    float: left;
    margin: 2.5%;
    margin-left: 0%;
}

.data-body p{
    text-align: justify;
}

.google-maps {
    width: 45%;
    height: 250px;
    margin: 2.5% 0%;
    float:right;
    display: inline-block;
    border-style: solid;
}

.content-data-line{
    width: 90%;
    margin: 0% 5%;
    height: auto;
}

.content-data-line p{
    text-align: justify;
}


.content-contactus-body {
    width: 90%;
    height: auto;
    margin: 1% 5%;
    display: inline-block;
}

.content-contactus-body table{
    width: 100%;
    text-align: left;
    height: auto;
}

.content-contactus-body input {
    border-radius: 5px;
    height: 100%;
    margin: 2.5% 0;
    padding: 5px 0px 0px 5px;
    width: 100%;
}

.content-contactus-body textarea{
    width: 85%; 
    height: 100%;
    border-radius: 5px;
    padding: 0;
    margin-left: 10%;
    resize: none;
    font-family: Arial;
}

.content-contactus-body textarea:focus{
    border-color: #000;
    border-style: solid;
   -webkit-transition: all .6s ease-out; 
    outline:0px;
}

.content-contactus-body input:focus{
    border-color: #000;
    border-style: solid;
    -webkit-transition: all .6s ease-out; 
    outline:0px;
    
}

.content-contactus-send {
    width: 95%;
    height: 100%;
    text-align: center;
    margin: 2.5%;
}

.content-contactus-send input:active{
    background: #000;
    color: #fff;
}

.content-contactus-send input:focus{
    outline:0px;
}
.content-contactus-send input{
    width: 20%;
    height: 40px;
    border-color: #000;
    border-radius: 5px;
    -webkit-transition: all .3s ease-out;
}

#map1{
    height: 100%;
    width: 100%;
}


.title {
    background: rgba(0,0,0,.5);
    height: 40px;
    width: 35%;
    top: 0%;
    position: fixed;
    
}

@media ( max-width: 620px) {
    body{
        max-width: 100%;
        margin: 0;
    }
        
    
    div.content-slider {
        width: 100%;
        height: 250px;
        background: #fff;
    }
    
    
    div.content-slider-footer {
        width: 95%;
        position: relative;
        bottom: 50px;
        padding-left: 5%;
        background: rgba(0,0,0,.6);
    }
    
    .data-body {
        width: 100%;
        float: none;
    }

    
    .google-maps {
        width: 100%;
        float:none;
        display: inline-block;
    }
    
    .content-contactus-body {
        width: 100%;
        height: auto;
        float: right;
    }
    
    .content-contactus-body textarea{
        float: none;
        width: 100%;
        display: inline-block;
    }
    
    .content-contactus-body input {
        border-radius: 5px;
        width: auto;
        height: 100%;
        padding: 1px 5px 0px 5px;
        display: inline-block;
    }
    
    
}
