body {
    margin: 0;
    max-width: 100%;
}

.{
    margin: 0px;
    padding: 0px;
}
p,h1,h2 , h3 {
    color:#1C0C4F;
}

div.content-data{
    background:#fff;
    height: auto;
    display: inline-block;
    width: 100%;
}

.content-slider {
    width: auto;
    height: 550px;
    background: #fff;
}

div.content-slider-header {
    width: 100%;
    height: 100%;
}

div.content-slider img{
    width: 100%;
    height: 100%;
    display: none;
}

div.content-slider img:nth-child(1){
    display: block;
}

div.content-slider-footer {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 75px;
    padding-left: 2%;
    background: rgba(0,0,0,.6);
}

.content-slider-footer h3{
    color: #fff;
    padding: 1%;
}

div.content-data {
    height: auto;
    padding: 0 10%;
    padding-top: 5%;
}

.content-data-header h2{
    margin: 2% 5%;
    border-bottom: 1px solid #000;
    margin-bottom: 0;
    border-color: #1C0C4F;
    padding-bottom: 1%;
    color:#1C0C4F;
}

.content-data-body {
    margin: 0% 5%;
    height: auto;
    display: inline-block;
    width: 90%;
}

.data-body {
    width: 50%;
    height: auto;
    float: left;
    margin: 2.5%;
    margin-left: 0%;
}

.data-body p{
    text-align: justify;
}

.google-maps {
    width: 45%;
    height: 280px;
    margin: 2.5% 0%;
    float:right;
    display: inline-block;
    border-style: solid;
}

.content-data-line{
    width: 90%;
    margin: 0% 5%;
    height: auto;
}

.content-data-line p{
    text-align: justify;
}


.content-contactus-body {
    width: 90%;
    height: auto;
    margin: 0% 5%;
    display: inline-block;
}


.content-contactus-body input {
    width: 100%;
    margin-bottom: 4.45%;
}

.content-contactus-body textarea{
    width: 100%;
    height: 450px;
    margin: 0%;
    margin-right: 2%;
    padding-left: 1%;
    resize: none;
}

.content-contactus-body textarea:focus{
    border-color: #DACAFB;
    border-style: solid;
   -webkit-transition: all .6s ease-out; 
    outline:0px;
}

.content-contactus-body input:focus{
    border-color: #DACAFB;
    border-style: solid;
    -webkit-transition: all .6s ease-out; 
    outline:0px;
    
}

.content-contactus-send {
    width: 95%;
    height: auto;
    text-align: center;
    margin: 2.5%;
    margin-bottom: 10%;
}

.content-contactus-send input:active{
    background: #fff;
    color: #1C0C4F;
}

.content-contactus-send input:focus{
    outline:0px;
}

.content-contactus-send input{
    width: 20%;
    height: 40px;
    color:#fff;
    background-color: #1C0C4F;
    border-radius: 5px;
    -webkit-transition: all .3s ease-out;
    font-size: 20px;
    font-weight: bold;
}

.title {
    background: rgba(0,0,0,.5);
    height: 40px;
    width: 35%;
    top: 0%;
    position: fixed;
    
}

/*CSS Mpapa*/
#map1{
    height: 100%;
    width: auto;
}
#map2{
    height: 100%;
    width: auto;
}

.infowindow{
    width: auto;
    padding: 0px
}

.infowindow img{
    width: 100%;
    height: auto;
}

@media ( max-width: 620px) {
    body{
        max-width: 100%;
        margin: 0;
    }
        
    
    div.content-slider {
        width: 100%;
        height: 250px;
        background: #fff;
    }
    
    div.content-data{
        width: 100%;
        margin: 5% 0;
    }
    
    div.content-slider-footer {
        width: 100%;
        position: relative;
        bottom: 50px;
        background: rgba(0,0,0,.6);
    }
    
    .data-body {
        width: 100%;
        float: none;
    }

    
    .google-maps {
        width: 100%;
        display: inline-block;
    }
    
    .content-contactus-body {
        width: 100%;
        height: auto;
        margin: 0 2.5%;
    }
    
    .content-contactus-body textarea{
        width: 96%;
    }
    .content-contactus-body input {
        width: 96%;
    }
}
