/*body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #1C0C4F;
    background-color: #DACAFB;
}

div.title h1{
	padding-top: 30px;
}
div.description p{
	padding-bottom:80px; 
	padding-top:50px;
	font-size: 18px;
}


.container{ 
	width: 100%;
	padding-right:15px; 
	padding-left:15px;
}


div#headerPrincipal{
	padding: 30px;
	margin-top: 100px;
}

div.slider img{
	padding-top:30px; 
	width: 100%;

}


div.lineTime {
	display: inline-block;
	margin-top: -80px;
	border-radius: 5px;
	border-width: 1px;
	background: #F0CBFF;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-color: #1C0C4F;
	text-align: center;
	margin-left: 40%;
}



div.minibox{
	margin: 3%;
}




footer.pie{
background: #DACAFB;
}


footer img{

width: 30px;
height: 30px;

}



@media (min-width: 300px) and (max-width: 380px) {
	
	div.lineTime {
	margin-top: -20px;
	margin-left: 15%;
	}
	
}

@media (min-width: 380px) and (max-width: 470px) {
	
	div.lineTime {
		margin-top: -20px;
		margin-left: 18%;
		}

}

@media (min-width: 470px) and (max-width: 460px) {
	
	div.lineTime {
	margin-top: -20px;
	margin-left: 25%;
	}


	
}
@media (min-width: 460px) and (max-width: 767px) {
	
	div.lineTime {
	margin-top: -20px;
	margin-left: 35%;
	}



}





@media (min-width: 1180px) and (max-width: 1278px) {
div.slider img{
	padding-top:30px; 
	width: 101%;
	height: 500px

}
div.container div.title h1{
	font-size: 30px;
	margin-top: 50px;
}

div.container div.description p.espacio{
	font-size: 18px;
	padding-left: 30px;
	margin-bottom: -20px;
}

div.lineTime {
	margin-top: -80px;
	border-radius: 5px;
	border-width: 1px;
	background: #F0CBFF;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-color: #1C0C4F;
	text-align: center;
}

}



@media (min-width: 768px) and (max-width: 1180px) {

div.slider img{
	margin-top: 30px;
	padding-top:30px; 
	width: 100%;
	height: 500px
}

.espacio{
	padding-bottom:100px; 
	padding-top:50px;
	font-size: 18px;
}

div.lineTime {
margin-top: -40px;
padding: 5px;
margin-left: 35%; 
}

}

*/



/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


body {
    
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #1C0C4F;
   
}

.resena{
	margin-top: 12%;
}
.description p{
	text-align: justify;
}

div.title h1{
	padding-top: 30px;
}
div.description p{
	padding-bottom:5px; 
	padding-top:5px;
	font-size: 16px;
}

div#headerPrincipal{
	/*padding: 30px;
	margin-top: 60px;*/
	margin: 0% 0%;
}
.nosotros{
	/*padding-left: 50px;
   padding-right: 50px;*/
   margin: 0% 1%;
}
.nosotros h2{
	font-size: 20px;
}



div.slider img{
	/*padding-top:30px; */
	width: 95%;

}

.content-data{
	height: auto;
	display: inline-block;
	padding: 5% 10%;
}


p.lineTime {
	width: 50%;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	display: absolute;
	border-radius: 5px;
	border:1px solid #1C0C4F;
	background: #CFB0FF;
	vertical-align: center;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right:0px;

}



div.minibox{
	/*margin: 4%;*/
}

button.search{
	border: 2px solid transparent;
	margin-top: 10px;
	background-color: transparent;
}

button.search:focus{
	box-shadow: 2px 2px 10px #1C0C4F;
	margin-top: 10px;
	background-color: transparent;
}



.changecolor{
color: black;

}



.like{
	margin-top: 20px;
}


 footer{
 	padding-top: 50px;
    background-color: #DACAFB;
}





/*****************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
}


a {
    color: #1C0C4F;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.light {
    font-weight: 400;
}


.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgba(238,238,238,.5);
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #1C0C4F;
}

.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(228,241,254,.6);
}

.text-justify{
	text-align: justify;;
}



/* Large desktop */
@media (min-width: 1200px){ 
	.container {
		/*width: 100%;*/
		padding-right: 2%;
		padding-left: 2%;
	}
}
@media (max-width: 1200px){ 
	.container {
		/*width: 100%;*/
		padding-right: 3%;
		padding-left: 3%;
	}
	.resena{
		margin-top: 2%;
	}
}
@media (max-width: 890px){ 
	#headerPrincipal .col-sm-6{
	width: 100%;
	}
	#headerPrincipal .col-sm-6 img{
		width: 100%;
	}
	.container {
		/*width: 100%;*/
		/*padding-right: 3%;*/
		/*padding-left: 3%;*/
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) { 
	.container {
		width: 100%;
	}
	.resena{
	margin-top: 1%;
	}
	div.description p{
		font-size: 14px;
	}
	div#headerPrincipal{
	 padding-right: 5px;
	 padding-left: 5px;
	}
	.nosotros{
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

@media(max-width:767px) {
	div.slider img{
		width: 100%;
	}
	div.slider {
		margin-bottom: 20px;
	}
	p.lineTime{
		width: 60%;
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
	div#headerPrincipal{
		 padding-right: 5px;
		 padding-left: 5px;
	}
	p.lineTime{
		width: 45%;
	}
	.nosotros{
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
    .navbar {
        padding: 0;
        border-bottom: solid 1px #1C0C4F;
        letter-spacing: 1px;
        background: #DACAFB;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #DACAFB;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid #1C0C4F;
    }
}

@media(max-width:480px) {
	.container {
		/*width: 100%;*/
		padding-right: 5%;
		padding-left: 5%;
	}
	p.lineTime{
		width: 60%;
	}
}
@media(max-width:320px) {
	.container {
		padding-right: 2px;
		padding-left: 2px;
		overflow-x: hidden;
	}
	p.lineTime{
		width: 85%;
	}
}