/*body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #1C0C4F;
    background-color: #DACAFB;
}

div.title h1{
	padding-top: 30px;
}
div.description p{
	padding-bottom:80px; 
	padding-top:50px;
	font-size: 18px;
}


.container{ 
	width: 100%;
	padding-right:15px; 
	padding-left:15px;
}


div#headerPrincipal{
	padding: 30px;
	margin-top: 100px;
}

div.slider img{
	padding-top:30px; 
	width: 100%;

}


div.lineTime {
	display: inline-block;
	margin-top: -80px;
	border-radius: 5px;
	border-width: 1px;
	background: #F0CBFF;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-color: #1C0C4F;
	text-align: center;
	margin-left: 40%;
}



div.minibox{
	margin: 3%;
}




footer.pie{
background: #DACAFB;
}


footer img{

width: 30px;
height: 30px;

}



@media (min-width: 300px) and (max-width: 380px) {
	
	div.lineTime {
	margin-top: -20px;
	margin-left: 15%;
	}
	
}

@media (min-width: 380px) and (max-width: 470px) {
	
	div.lineTime {
		margin-top: -20px;
		margin-left: 18%;
		}

}

@media (min-width: 470px) and (max-width: 460px) {
	
	div.lineTime {
	margin-top: -20px;
	margin-left: 25%;
	}


	
}
@media (min-width: 460px) and (max-width: 767px) {
	
	div.lineTime {
	margin-top: -20px;
	margin-left: 35%;
	}



}





@media (min-width: 1180px) and (max-width: 1278px) {
div.slider img{
	padding-top:30px; 
	width: 101%;
	height: 500px

}
div.container div.title h1{
	font-size: 30px;
	margin-top: 50px;
}

div.container div.description p.espacio{
	font-size: 18px;
	padding-left: 30px;
	margin-bottom: -20px;
}

div.lineTime {
	margin-top: -80px;
	border-radius: 5px;
	border-width: 1px;
	background: #F0CBFF;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	border-color: #1C0C4F;
	text-align: center;
}

}



@media (min-width: 768px) and (max-width: 1180px) {

div.slider img{
	margin-top: 30px;
	padding-top:30px; 
	width: 100%;
	height: 500px
}

.espacio{
	padding-bottom:100px; 
	padding-top:50px;
	font-size: 18px;
}

div.lineTime {
margin-top: -40px;
padding: 5px;
margin-left: 35%; 
}

}

*/



/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


body {
    
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #1C0C4F;
   
}



div.title h1{
	padding-top: 50px;
}
div.description p{
	padding-bottom:60px; 
	padding-top:50px;
	font-size: 16px;
}

div#headerPrincipal{
	padding: 30px;
	margin-top: 100px;
}


div.slider img{
	padding-top:30px; 
	width: 95%;

}


p.lineTime {
	display: inline-block;
	border-radius: 5px;
	border:1px solid #1C0C4F;
	background: #CFB0FF;
	vertical-align: center;
	text-align: center;
	margin-left: 40%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;

}



div.minibox{
	margin: 3%;
}

button.search{
	border: 2px solid transparent;
	margin-top: 10px;
	background-color: transparent;
}

button.search:focus{
	box-shadow: 2px 2px 10px #1C0C4F;
	margin-top: 10px;
	background-color: transparent;
}



.changecolor{
color: black;

}



.like{
	margin-top: 20px;
}

.nosotros{
	padding-left: 50px;
   padding-right: 50px;
}
.nosotros h2{
	font-size: 20px;
}

 footer{
 	padding-top: 50px;
    background-color: #DACAFB;
}





/*****************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    line-height: 1.5;
}


a {
    color: #1C0C4F;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #11505d;
}

.light {
    font-weight: 400;
}


.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: rgba(238,238,238,.5);
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #1C0C4F;
}

.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(228,241,254,.6);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #fff;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
}