body {
    margin: 0 2.5%;
    max-width: 95%;
    height: auto;
    background-color: #ffffff;
}

html {
    background-color: #e6e9e9;
}

.{
    margin: 0px;
    padding: 0px;
}


div.content-slider {
    width: auto;
    height: 450px;
    background: #fff;
}

div.content-slider-header {
    width: 100%;
    height: 100%;
}


div.content-slider img{
    width: 100%;
    height: 100%;
    display: none;
}

div.content-slider img:nth-child(1){
    display: block;
}

.content-slider-footer {
    width: 96%;
    height: auto;
    position: relative;
    bottom: 70px;
    padding-left: 4%;
    background: rgba(0,0,0,.4);
}


.content-data {
    width: 95%;
    height: auto;
    margin: 2.5%;
    display: inline-block;
    border-style: dashed;
    border-color: #000;
}
.content-footer{
    margin: 0% 5%;
}

.content-footer2{
    margin: 0% 5%;
}

.content-footer p{
    text-align: justify;
}

.content-footer2 p{
    text-align: justify;
}

.content-info {
    width: 100%;
    height: auto;
}

.content-data-line {
    margin: 0% 2.5%;
    height: auto;
    display: inline-block;
}

.content-header2{
    margin-left: 5%;
}

h2,h4{
    margin: 0;
    padding: 0;
}

.content-header span img {
    float:left;
    width: auto;
    height: 350px;
    margin: 2% 10% 2% 5%;
    display: inline-block;
    margin-bottom: 2%;
    border-style: solid;
}

.content-header2 span img {
    float:right;
    height: 200px;
    margin: 5% 5% 5% 10%;
    border-style: solid;
}


p{
    font-size: 18px;
}

.content-slider-footer p{
    color: #fff;
    padding: 1%;
}

.content-footer{
        margin: 0% 2%;
    }
    
.content-footer2{
    margin: 0% 2%;
}

.content-header{
    margin: 0% 2%;     
}

.content-header2{
    margin: 0% 2%;
}

@media (max-width: 479px) {
    
    .content-header span img{
        width: 98%;
        margin: 0;
        margin-bottom: 5%;
        padding: 0;
    }
    
    .content-header2 span img{
        width: 98%;
        padding: 0%;
        margin: 0%;
        margin-bottom: 5%;
   }
    
    .content-data{
        height: auto;
    }
    
    .content-data-line {
        margin: 0;
        height: auto;
    }
    
    div.content-slider {
        width: 100%;
        height: 200px;
        background: #fff;
    }
    
    .content-slider-footer {
        width: 96%;
        height: auto;
        position: relative;
        bottom: 45px;
        
    }
    
    .content-slider-footer p{
        font-size: 15px;
    }
    body{
        max-width: 100%;
        margin: 0;
    }
}

@media (min-width: 480px) and ( max-width: 620px) {

    
    .content-slider-footer {
        width: 96%;
        height: auto;
        position: relative;
    }
    
    div.content-slider {
        width: 100%;
        background: #fff;
    }
    
    .content-header span img{
        width: 60%;
        margin: 5% 15%;
        padding: 0%
   }
        
    .content-header2 span img{
        width: 70%;
        margin: 5% 15%;
        padding: 0%
   }
    
    section.content-data{
        height: auto;
    }
    
    div.content-data-line {
        margin: 2.5%;
        height: auto;
        border-style: dotted;
    }
    
    
    
}

